.table-container{
    margin: auto;
    margin-top: 15px;
    width: 950px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h2{
    background-color: grey;
    padding: 20px;
    border-radius: 15px;
    color:var(--negro);
    text-decoration-line:underline;
    font-size: 35px;
    font-weight: 700;
    margin: auto;
    margin-top: 30px;
}

table{
    text-align: left;
    background-color: var(--blanco);
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,td{
    padding: 10px;
    border: solid 1px var(--negro);
}

thead{
    font-weight: 700;
    background-color: var(--celeste);
    border-bottom: solid 5px var(--negro);
    color:var(--blanco);
}

tr:nth-child(even){
    background-color: var(--gris);
}

tr:hover td{
    background-color: var(--blanco);
    color:var(--celesteClaro);
    cursor:pointer;
}

#text{
    color:var(--blanco);
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
}